#wrapper svg {
 width: auto;
}

#precinct-map {
  height: auto;
  padding: 20px 0px;
  display: block;
  margin: auto;
}

#bar-graph {
  display: block;
  margin: auto;
}


.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble:hover {
  stroke: #000;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

svg.calendar {
  width: auto;
  display: block;
  margin: auto;
}

#slider {
  padding-bottom: 30px;
}