#wrapper svg {
 width: auto;
}

.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble:hover {
  stroke: #000;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

svg.calendar {
  margin: 0 auto;
}